<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-10"><%= title %></h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
          <form class="form" method="POST">
            <div class="form-row align-items-center">
  
              <div class="w-100">
                <label class="sr-only" for="title">Title</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Survey Title" required>
                </div>
              </div>

             

              <div class="w-100">
                <label class="sr-only" for="Subtitle">Subtitle</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="Survey Subtitle" required>
                </div>
              </div>

              <div class="w-100">
                <label class="sr-only" for="Description">Description</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Survey Description" required>
                </div>
              </div>


              <div class="w-100">
                <label class="sr-only" for="enterQuestion1">Enter Question 1?</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="enterQuestion1" name="enterQuestion1" placeholder="Enter Question 1" required>
                </div>
              </div>

              <div class="w-100">
                <label class="sr-only" for="enterQuestion2">Enter Question 2?</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="enterQuestion2" name="enterQuestion2" placeholder="Enter Question 2" required>
                </div>
              </div>

              <div class="w-100">
                <label class="sr-only" for="enterQuestion3">Enter Question 3?</label>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                  </div>
                  <input type="text" class="form-control" id="enterQuestion3" name="enterQuestion3" placeholder="Enter Question 3" required>
                </div>
              </div>   
            
            <div class="form-row">
              <div class="col-auto mx-auto d-block">
                <button type="submit" class="btn btn-primary mb-2" id="sendButton"><i class="fas fa-paper-plane"></i> Create Survey</button>
              </div>
            </div>

          </form>
        </div>
        <div class="col-4">

        </div>
      </div>
    </div>
    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    